@import "../../variables";

.error {
  height: 75vh;
  h2 {
    background: rgba($main, 1);
    transition: all 0.25s ease-in-out;
    &:hover {
      color: #dad5d5cc;
      box-shadow: 0 0 10px 1px rgba(white, 0.3);
    }
  }
}

.error img {
  max-width: 80%; /* Make sure the image scales with smaller screens */
  max-height: 80%; /* Make sure the image scales with smaller screens */
}
