@import "../../variables";

.tile {
  opacity: 0; //for animation
  &.opacity {
    opacity: 1;
  }
  cursor: pointer;
  margin: 1em 2em;
  background: $main;
  box-shadow: 0 0 10px 1px $main;
  transition: box-shadow 0.2s ease-in-out;
  transition: scale 0.2s ease-in-out;
  //set different background for every third tile
  &:nth-child(3n + 2) {
    background-color: $secondary;
    box-shadow: 0 0 10px 1px $secondary;
  }
  &:nth-child(3n) {
    background-color: $blue;
    box-shadow: 0 0 10px 1px $blue;
  }
  //on desktop 13th is centered that's why seperate styling
  &:nth-child(13) {
    background-color: $secondary;
    box-shadow: 0 0 10px 1px $secondary;
    @include responsive(
      background-color,
      (
        mobile-small: $main,
        mobile: $main,
        tablet: $main,
      )
    );
    @include responsive(
      box-shadow,
      (
        mobile-small: 0 0 10px 1px $main,
        mobile: 0 0 10px 1px $main,
        tablet: 0 0 10px 1px $main,
      )
    );
  }
  &.not-expanded {
    &:hover {
      scale: 1.05;
      box-shadow: 0 0 10px 1px $pastel-blue;
    }
  }
  &.expanded {
    box-shadow: 0 0 10px 1px $pastel-blue;
    cursor: default;
  }

  img {
    max-width: 40%;
    max-height: 90%;
  }
  .tile-header {
    h2 {
      color: $pastel-blue;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: -10%;
        width: 100%;
        height: 0.1em;
        border-radius: 5em;
        background: $pastel-blue;
      }
    }
    font-size: 2em;
    .close-btn {
      position: absolute;
      top: 3%;
      right: 2%;
      height: 0.5em;
      width: 0.5em;
      border: none;
      cursor: pointer;
      background: url("../../assets/close-btn.png") no-repeat;
      background-size: cover;
      transition: all 0.3s ease;
      scale: 0.8;
      opacity: 0.6;
      &:hover {
        filter: invert(100%);
        rotate: 90deg;
        opacity: 0.9;
        scale: 1;
      }
    }
  }
  .description {
    color: $green;
    width: 90%;
    //make tile look better on tablet - without it it is very short
    @include responsive(
      font-size,
      (
        tablet: 1.5em,
      )
    );
  }
}
