@import "../../variables";

.about {
  background: $pastel-blue;
  padding: 5em 5em;
  overflow: hidden;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 10px 1px white;
  @include responsive(
    padding,
    (
      mobile-small: 2em 3em,
      mobile: 2em 4em,
      tablet: 3em 5em,
      tablet-large: 3em 5em,
    )
  );
  * {
    position: relative;
    z-index: 2;
  }
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(209, 193, 255, 0.5);
    transform: rotate(45deg);
    left: -60%;
    @include responsive(
      //better styles for mobile
      left,
      (
        mobile-small: -100%,
      )
    );
    bottom: 20%;
    z-index: 1;
    border-radius: 100em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  }
  &::after {
    left: unset;
    bottom: unset;
    right: -70%;
    top: 20%;
    @include responsive(
      //better styles for mobile
      right,
      (
        mobile-small: -100%,
      )
    );
  }

  h1 {
    color: $secondary;
    font-size: 3em;
  }
  p {
    font-weight: 500;
    &:first-of-type {
      font-size: 1.2em;
      span {
        color: $blue;
        font-size: 1.2em;
      }
    }
  }
  h2 {
    text-align: center;
    margin: auto;
  }
}
