@import "../../variables";

.language-switch {
  background: rgba($secondary, 0.4);
  height: 2em;
  width: 4em;
  position: relative;
  transition: all 0.4s ease-in-out;
  .switch-button {
    position: absolute;
    overflow: hidden;
    top: 0.2em;
    left: 0.2em;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    transition: all 0.4s ease;
    background-size: cover;
    background-position: center;
    background-image: url("../../assets/icons/english.png");
  }
  &.changed {
    background: rgba($secondary, 0.7);
    .switch-button {
      transform: translateX(135%);
      background-image: url("../../assets/icons/polish.png");
    }
  }
}
