@import "../../variables";
$vitamin-images-path: "../../assets/vitamins/";

.calculator {
  width: 80%;
  h1 {
    background: white;
    width: fit-content;
    border: 0.2em solid $secondary;
    box-shadow: 0 0 1px 0.2em $pastel-blue;
  }
  .vitamin-radio {
    input[type="radio"] {
      cursor: pointer;
      position: relative;
      appearance: none; // Remove default radio button appearance
      width: 3em; // Set your desired width
      height: 3em; // Set your desired height
      border-radius: 50%; // Make it circular
      overflow: hidden;
      opacity: 0.5;
      transition: all 0.3s ease-in-out;
      &:hover {
        opacity: 0.9;
      }
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-size: cover;
        background-position: center;
      }
      &:checked {
        opacity: 1;
        scale: 1.2;
      }
      //set different background for each vitamin
      @each $vitamin in c, b1, b2, b3, b5, b6, b7, b9, b12, a, d, e, k {
        &[data-label="#{$vitamin}"]::after {
          background-image: url("#{$vitamin-images-path}#{$vitamin}.png");
        }
      }
    }
  }
  .age-display {
    font-size: 2em;
  }
  .age-range {
    span {
      color: $pastel-blue;
      font-size: 1.5em;
      margin: 0 -1.2em;
    }
  }
  .custom-range {
    width: 100%; /* Set the width of the slider */
    height: 1em; /* Set the height of the slider */
    background: white; /* Set the background color of the track */
    border-radius: 5px; /* Set the border radius for rounded edges */
    &::-webkit-slider-thumb {
      width: 1.5em;
      height: 1.5em;
      background: $green;
      border-radius: 29px 200px 33px 195px;
      -webkit-border-radius: 29px 200px 33px 195px;
      -moz-border-radius: 29px 200px 33px 195px;
    }
    &::-webkit-slider-runnable-track {
      height: 1em;
    }
  }
  form {
    height: 70vh;
  }

  .radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5em;
    background-color: #eee;
    padding: 0.25em;

    .radio {
      flex: 1 1 auto;
      text-align: center;

      input {
        display: none;
        &:checked ~ .name {
          background-color: white;
          font-weight: 600;
        }
      }

      .name {
        display: flex;
        cursor: pointer;
        justify-content: center;
        border-radius: 0.5em;
        padding: 0.5em 0;
        transition: all 0.3s ease-in-out;
        &.sex {
          background: $main;
          position: absolute;
          color: $pastel-blue;
          font-weight: 600;
          font-size: 1.5em;
          top: 0;
          width: 30%;
          height: 100%;
          border-radius: 0 0.2em 0.2em 0;
          margin-left: 0.1em;
          line-height: 1;
          cursor: default;
        }
      }
    }
  }
  .response {
    font-weight: 500;
    color: $pastel-blue;
    font-size: 2em;
  }

  .food-img {
    max-width: 15em;
    max-height: 15em;
    position: absolute;
    left: 65%;
    bottom: 0%;
    animation: pulse 5s infinite;
    @media (min-width: 1300px) {
      max-width: 18em;
      max-height: 18em;
    }
    @media (min-width: 1800px) {
      max-width: 30em;
      max-height: 30em;
    }
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    rotate: -2deg;
    opacity: 0.8;
  }

  50% {
    transform: scale(1.02);
    rotate: 2deg;
    opacity: 1;
  }
}
