@import "../../variables";
.button {
  background-color: rgba($green, 1);

  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  font-weight: 700;

  &:hover {
    background-color: rgba($green, 0.7);
  }
  //primary for home CTA button
  &.big-font {
    @include responsive(
      font-size,
      (
        // tablet: center,
        tablet-large: 1.5em,
        desktop: 3em
      )
    );
  }
}
